<ion-view view-title="SteekApp">
  <ion-content class="padding">
    <h2 class="title1">No a la contaminación de agua</h2>
    <p class="minitxt">Somos un grupo de inversionistas que nos preocupamos por el agua contaminada, te enseñaremos un video para que puedas ver plan de cuidado de agua potable para el ser humano y aminales.</p>
    <iframe width="100%" height="220" src="https://www.youtube.com/embed/e-IRHiPtFW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="minitxt">Cuidar el agua es importante ya que gracias a ella el ser humano ha logrado sobrevivir por millones de años en el planeta tierra, beber agua potable es saludable y refrescante y sino la bebieramos nos afectaria el cuerpo ya que estuvieramos hidratandonos con agua contaminada de color cafe como se mostro en el video anteriormente.</p>
    <h2 class="title1">Que es ADN?</h2>
    <p class="minitxt">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.</p>    
    <div class="container human">
    	<div class='dna'>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
</div>
    </div>
    <h1 class="infogra">Infografia</h1>
    <img src="../img/info.png" class="infografi">
    <h4 class="gifititles">Metodos Anticonceptivos</h4>
    <img src="../img/methodanti.gif" class="gifi">
    <h4 class="gifititles">Fecundación</h4>
    <img src="../img/fecundacion.gif" class="gifi">
    <h4 class="gifititles">Desarrollo Embrionario</h4>
    <img src="../img/desarrollo.gif" class="gifi">
    <h4 class="gifititles">Tabla Nutricional Jovenes</h4>
    <!--Aqui va la tabla nutricional las clases que miras en esta parte ya estan configuradas solo falta configurar la tabla y el video de nuestra exposicion del agua mañana en la mañana hay que pedirsela al profe-->
    <img src="../img/piramide.jpg" class="gifix">    
    <h4 class="gifititles">Juego de memoria</h4>
    <section class=ejemplo>
    <div class=controles>
      <div class=boton>
        <a id='iniciar' class=init>Iniciar</a>
      </div>
      <div class=crono>
        0:<span>30</span>
      </div>
      <div class=boton>
        <a id='reiniciar' class=reinit>Reiniciar</a>
      </div>
    </div>
    <div class=memoria>
      <article class=unoUno data-pareja=uno>
        <span><img src="../img/vitad.jpg" class="cart"></span>
      </article>
      <article class=unoDos data-pareja=cuatro>
        <span><img src="../img/vite.png" class="cart"></span>
      </article>
      <article class=dosUno data-pareja=dos>
        <span><img src="../img/vita.jpg" class="cart"></span>
      </article>
      <article class=dosDos data-pareja=tres>
        <span><img src="../img/vitac.jpg" class="cart"></span>
      </article>
      <article class=tresUno data-pareja=tres>
        <span><img src="../img/vitac.jpg" class="cart"></span>
      </article>
      <article class=tresDos data-pareja=dos>
        <span><img src="../img/vita.jpg" class="cart"></span>
      </article>
      <article class=cuatroUno data-pareja=uno>
        <span><img src="../img/vitad.jpg" class="cart"></span>
      </article>
      <article class=cuatroDos data-pareja=cuatro>
        <span><img src="../img/vite.png" class="cart"></span>
      </article>
    </div>
    <div class='retro msn'>
      <p>
      </p>
    </div>
    <div class=retro id='final'>
         <p>
         </p>
      </div>
  </section>
  </ion-content>
</ion-view>
